.container {
	height: 100%;
	margin: 0;
}

.b-img1, .b-img2, .b-img3 {
	position: relative;
	opacity: 0.73;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.b-img1{
	background-image: url(../img/bgp-lib-1.jpg);
	min-height: calc(100% - 200px);
}

.b-img2{
	background-image: url(../img/bgp-lib-2.jpg);
	min-height: calc(100% - 200px);
}

.b-img3{
	background-image: url(../img/bgp-lib-3.jpg);
	min-height: 100%;
}

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light {
	background: #f4f4f4;
	color: #666;
}

.section-dark {
	background: #282e34;
	color: #ddd;
}


.text {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: bold;
	font-size: 45px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

/*
.bold {
	background: #111;
	color: #fff;
	padding: 20px;
}
*/

@media(max-width: 500px){
	.b-img1, .b-img2, .b-img3 {
		background-attachment: scroll;
	}
}